
<%= link_to producto_path(producto.id), class:"Producto p-2 hover:scale-[1.02] transform transition duration-300 ease-in-out  border-1 border-gray-500 shadow-md  bg-white mb-2 rounded sm:w-[calc(33.33333%_-_.5rem)] lg:w-[calc(25%_-_.5rem)]  " , 'data-turbo-frame': '_top' do %>
  <%= image_tag producto.photo.attached? ? producto.photo: 'placeholder.jpg',class:"w-full h-60 object-cover rounded"  %>
  <div class="m-3">
    <h2 class="font-bold txt-xl"><%= producto.titulo %></h2>
    <p class="text-gray-500 text-sm mt-2"><%= producto.description %></p>
    <div class="flex flex-column gap-2 mt-2">
      <span class="font-bold text-red-600">S/.<%= producto.price %></span>
      <div class="bg-green-500 rounded w-full flex justify-center">
        <%= image_tag 'icons/shop.svg', width: 35, height: 35, alt: 'Ver productos' %>
      </div>
    </div>
  </div>
<% end %>

